.page-id-10 {

    .about-wrapper {
        margin-bottom: 40px;
    }

    .context {
        height: 25vh;
        width: 100%;
        position: absolute;
    }

    .context h1 {
        padding: 10px;
        font-size: 3rem;
        color: white;
        transform: translateY(-150px);
        animation: 1.2s slideIn ease-in-out forwards 1s;
        z-index: 10;
        opacity: 0;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        top: 25%;
    }

    .area {
        background-color: #111;
        border-bottom: 4px solid rgb(68, 68, 253);
        width: 100vw;
        height: 25vh;
        overflow: hidden;
    }

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 38vh;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }


    .circles li:nth-child(2) {
        left: 10%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 55px;
        height: 55px;
        animation-delay: 10s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 75px;
        height: 75px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }


    .about-title {
        font-size: 2rem;
    }

    .about-title,
    .skills-title {
        text-transform: uppercase;
        text-align: center;
    }

    .about-bio {
        padding: 20px;
        margin: 0 30px;
        border-radius: 5px;
        box-shadow: 0 0 50px 0 rgb(28 9 80 / 50%);
        background-color: rgb(198, 198, 255);
    }

    .skills-gallery {
        display: flex;
        padding: 20px;
        margin: 0 30px;
        border-radius: 5px;
        box-shadow: 0 0 50px 0 rgb(28 9 80 / 50%);
        background-color: rgb(198, 198, 255);
    }

    .skills-gallery li {
        list-style: none;
        display: block;
    }

    @media screen and (min-width: 700px) {
        .skills-gallery {
            display: flex;
            justify-content: space-around;
            padding: 0;
            margin: 0;
        }

        .about-wrapper {
            grid-column: 2/6;
        }
    }


}