.page-id-12 {

    .context {
        height: 25vh;
        width: 100%;
        position: absolute;
    }

    .context h1 {
        padding: 10px;
        font-size: 3rem;
        color: white;
        transform: translateY(-150px);
        animation: 1.2s slideIn ease-in-out forwards 1s;
        z-index: 10;
        opacity: 0;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        top: 25%;
    }

    .area {
        background-color: #111;
        border-bottom: 4px solid rgb(68, 68, 253);
        width: 100vw;
        height: 25vh;
        overflow: hidden;
    }

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 38vh;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }


    .circles li:nth-child(2) {
        left: 10%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 55px;
        height: 55px;
        animation-delay: 10s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 75px;
        height: 75px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }

    .entry-title {
        text-align: center;
        margin: 0 auto;
        padding: 30px 30px 0px 20px;
    }

    article {
        position: relative;
    }

    .wpforms-validate {
        padding: 10px;
    }

    .contact-form {
        margin: 0 30px;
        background-color: #c6b3fa;
        border-radius: 5px;
        box-shadow: 0 0 50px 0 rgb(28 9 80 / 50%);

        label {
            color: #1c0950;
        }
    }

    div.wpforms-container-full .wpforms-form button {
        background-color: #1c0950;
        color: white;
        border-radius: 24px;
    }

    .entry-header {
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        z-index: 5;
        color: black;
        text-align: center;
    }
}


.contact-menu {
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 50px 0 rgb(28 9 80 / 50%);

    li {
        list-style: none;
        padding: 10px 100px;

        svg {
            width: 100px;
            height: 100px;
        }

        a {
            display: block;
            color: #1c0950;
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
        }
    }
}

@media screen and (min-width: 50em) {

    .page-id-12 {

        .entry-title {
            grid-column: 1/7;
        }

        .contact-wrapper {
            grid-column: 1/7;
            display: grid;
            grid-template-columns: repeat(6, 1fr)
        }

        .contact-form {
            margin: 0 30px;
            grid-column: 2/4;
        }

        .contact-menu {
            margin: 0 30px;
            align-items: center;
            grid-column: 4/6;
        }
    }
}