.page-id-12 {

    .wpforms-validate {
        padding: 10px;
    }

    .wpforms-container {
        margin: 0 30px;
        padding: 10px;
        background-color: #c6b3fa;
        border-radius: 5px;
        box-shadow: 0 0 50px 0 rgb(28 9 80 / 50%);

        label {
            color: #1c0950;
        }

        button {
            background-color: #1c0950;
            color: white;
        }
    }

    .entry-header h1 {
        z-index: 5;
        color: black;
        text-align: center;
    }
}