.projects-template-default article {
    padding: 30px;

    img {
        border: 1px solid black;
        border-radius: 5px;
    }
}

.project-wrapper {
    margin-bottom: 40px;
}

.overview {
    color: #1c0950;
}

.project-page {
    padding: 0 30px;
}

.design-process {
    padding: 0 30px 30px 30px;
}

.design-gallery {
    padding: 30px 0;

    li {
        list-style: none;
        padding: 10px 0;
    }
}

.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    span {
        color: #fff;
    }

    a {
        text-decoration: none;
        background-color: #1c0950;
        padding: 10px;
    }
}

.link-buttons {

    display: flex;
    justify-content: space-around;

    .button {
        background-color: #1c0950;
        color: white;
        text-decoration: none;
        margin: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid #1c0950;
        ;

        &:hover {
            background-color: white;
            color: #1c0950;
        }
    }

    nav {
        padding: 30px;
    }
}

.archive-projects article {
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px 0 rgb(28 9 80 / 50%);
}

.archive-projects h3 {
    font-size: 1.5rem;
}

.archive-projects a {
    text-decoration: none;
}

.post-thumbnail {
    position: relative;
    z-index: 1;
}

.entry-header h1 {
    color: #1c0950;
}

@media screen and (min-width: 768px) {
    .project-wrapper {
        grid-column: 2/6;
    }

    .archive-projects {
        display: flex;
        flex-wrap: wrap;
        grid-column: 2/6;
    }

    .archive-projects h2 {
        width: 100%;
    }

    .archive .archive-projects h3 {
        font-size: 2.5rem;
        padding: 0 20px;
    }

    .entry-header h1 {
        font-size: 4rem;
    }

    .design-gallery {
        display: flex;

        li {
            padding: 10px;
        }
    }

}