.site-footer {
    display: block;
    bottom: 0;
    z-index: 1001;
    background-color: rgb(68, 68, 253);
    color: white;
    width: 100vw;
    height: 100px;
}

.footer-navigation li.current-menu-item>a,
.footer-navigation li.current_page_item>a {
    border-top: 4px solid white;
}

.creator {
    text-align: center;
    grid-column: 1/5;
}

#menu-footer {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.footer-navigation li a {
    display: block;
    padding: 10px 0 0 0;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-footer-container ul {
    list-style: none;
    margin: 0 auto;
}

@media screen and (max-width: 50em) {

    .site-footer {
        position: fixed;
    }
}

@media screen and (min-width: 50em) {

    .footer-menu {
        grid-column: 3/5;
    }
}