.main-navigation {
	display: none;
	// width: 100%;
	// position: absolute;
	// top: 5.5rem;
	// right: 0;
	// z-index: 1000;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: rgb(68, 68, 253);
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
	background-color: #fff;
	color: #111;
}


.main-navigation li {
	position: relative;
}


.main-navigation li.current-menu-item>a,
.main-navigation li.current_page_item>a {
	text-decoration: underline;
	text-decoration-thickness: 0.3rem;
	text-decoration-color: #fff;
}

.main-navigation li:hover>a,
.main-navigation li.focus>a {
	background-color: #fff;
	color: #111;
}

.main-navigation li.current-menu-item svg path,
.main-navigation li.current_page_item svg path,
.main-navigation li:hover>a svg path,
.main-navigation li.focus>a svg path {
	fill: #fff200;
}

.main-navigation a {
	border-bottom: 1px solid #fff;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: .75rem 1.25rem;
	text-align: center;
}

.main-navigation.toggled ul {
	display: block;
	margin-top: 2.2rem;
}

.menu-toggle {
	position: absolute;
	top: -2.5rem;
	right: .5rem;
	z-index: 1100;
	display: block;
	padding: 1rem;
	border: none;
	background: transparent;
	color: #fff;
}

@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		width: auto;
		position: relative;
		top: 0;
		align-self: center;
		grid-column: 4/6;
	}

	.main-navigation a {
		border: none;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: flex;
		justify-content: space-around;
	}

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
		background-color: #111;
		flex-direction: column;
	}

	.main-navigation ul ul a {
		left: -999em;
		top: 0;
		width: 200px;
		text-align: left;
	}

	.main-navigation ul ul li:hover>ul,
	.main-navigation ul ul li.focus>ul {
		left: 100%;
		top: 0;
	}

	.main-navigation ul li:hover>ul,
	.main-navigation ul li.focus>ul {
		left: auto;
	}
}