.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
	top: 5.5rem;
	right: 0;
	z-index: 1000;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: #111;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
	background-color: #fff;
	color: #111;
}


.main-navigation li {
	position: relative;
}


.main-navigation li.current-menu-item>a,
.main-navigation li.current_page_item>a {
	text-decoration: underline;
	text-decoration-color: #fff200;
}

.main-navigation li:hover>a,
.main-navigation li.focus>a {
	background-color: #fff;
	color: #111;
}

.main-navigation li.current-menu-item svg path,
.main-navigation li.current_page_item svg path,
.main-navigation li:hover>a svg path,
.main-navigation li.focus>a svg path {
	fill: #fff200;
}

.main-navigation a {
	border-bottom: 1px solid #fff;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: .75rem 1.25rem;
	text-align: center;
}

.main-navigation.toggled ul {
	display: block;
	width: 60%;
	margin-right: 0 auto;
}

.menu-toggle {
	position: absolute;
	top: -4.5rem;
	right: .5rem;
	z-index: 1100;
	display: block;
	width: 3.75rem;
	padding: 1rem;
	margin: 0;
	border: none;
	background: transparent;
	color: #fff;
}

@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		width: auto;
		position: relative;
		top: 0;
		align-self: center;
		margin-left: auto;
	}

	.main-navigation a {
		border: none;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: flex;
		justify-content: center;
	}

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
		background-color: #111;
		flex-direction: column;
	}

	.main-navigation ul ul a {
		left: -999em;
		top: 0;
		width: 200px;
		text-align: left;
	}

	.main-navigation ul ul li:hover>ul,
	.main-navigation ul ul li.focus>ul {
		left: 100%;
		top: 0;
	}

	.main-navigation ul li:hover>ul,
	.main-navigation ul li.focus>ul {
		left: auto;
	}
}

/* If Admin Bar is on front end */
.admin-bar .main-navigation {
	top: calc(5rem + 46px);
}

@media screen and (min-width: 50em) {
	.admin-bar .main-navigation {
		top: 0;
	}
}