.site {
	max-width: 50rem;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.site-main {
	background-color: white;
}

@media screen and (min-width: 50em) {
	.site {
		grid-template-columns: 1fr minmax(auto, 1300px) 1fr;
		grid-template-areas:
			"header header header"
			". main main ."
			"footer footer footer ";
	}

	.site-header {
		grid-area: header;
	}

	.site-main {
		grid-area: main;
	}

	.site-footer {
		grid-area: footer;
	}
}