.site-main {
	background-color: white;
	margin-bottom: 8rem;
}

@media screen and (min-width: 800px) {

	.site-header {
		display: grid;
		grid-template-columns: repeat(6, 1fr)
	}

	.site-main {
		display: grid;
		grid-template-columns: repeat(6, 1fr)
	}

	.site-footer {
		display: grid;
		grid-template-columns: repeat(6, 1fr)
	}

	// .site-header {
	// 	grid-area: header;
	// }

	// .site-main {
	// 	grid-area: main;
	// }

	// .site-footer {
	// 	grid-area: footer;
	// }
}